
*,
*::before,
*::after {
    box-sizing: border-box;
 /*   outline: solid 1px #000;  */
}

body{
    font-family: "Roboto", "思源黑體" , "Noto Sans TC", sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
