<footer class="footer">
    <div class="container container-footer">
        <div class="d-flex justify-content-between border-bottom-1">
            <div>
                <ul class="d-flex gap-6">
                    <li class="footer-li mb-9">首頁</li>
                    <li class="footer-li">系列鏡框</li>
                    <li class="footer-li">門市據點</li>
                    <li class="footer-li">部落格</li>
                    <li class="footer-li">常見問題</li>
                </ul>
                <div><img src="../assets/images/call_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="" class="footer-img fs-2">0800-000-000
        </div>
               
        <div class="mb-8">
            <img src="../assets/images/mail_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="" 
                           class="footer-img fs-2">glasses@business.com
        </div>
    </div>
                
            
            <ul class="d-flex">
                <li><img src="../assets/images/ic-social-fb.png" alt="" class="footer-img"></li>
                <li><img src="../assets/images/ic_social_ig.png" alt="" class="footer-img"></li>
                <li><img src="../assets/images/ic_social_line.png" alt="" class="footer-img"></li>
            </ul>
        </div>

        

        <div class="d-flex justify-content-between mt-8 footer-copyright">
            <h3>Copyright © 2020 Glasses.All rights reserved.</h3>
            <ul class="d-flex justify-content-end footer-copyright">
                <li>隱私權政策</li>
                <li>服務條款</li>
            </ul>
        </div>
    </div>
</footer>