<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<header class="nav">
    <div class="container container-header nav-column d-flex justify-content-between">
        <a href="index.html" class="nav-img"><img src="../assets/images/logo-white.png" alt="logo" /></a>
        <ul class="nav-list container-header2">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="store.html">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="question.html">常見問題</a></li>
        </ul>
    </div>
</header>    
