
/* page */
.banner{
    background-image: url('/assets/images/home-header.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    color: $secondary;
    
}

.banner-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-fs-1{
    font-size: 64px;
    font-weight: bold;
    @include mobile{
        font-size:24px;
    }
 }
 
 .banner-fs-2{
     font-size: 36px;
     @include mobile{
        font-size: 16px;
     }
 }
 
 .banner-link{
    background: $primary;
    color: #ffffff;
    padding: 6px 12px ;
 }

.intro{
    align-items: center;
    background: $bg-light;
    color: $primary;
}

.intro-h2{
    font-size: 48px; 
    @include mobile-larger{
        font-size: 24px;
    }
}

.intro-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    }

.intro-list{
    width: calc(25% - 18px);
    @include pad{
        width: calc(50% - 12px);
    }

    @include mobile{
        width: 100%;
    }
}

.intro-h3{
    font-size: 24px;
}

.classical{
    font-size: 48px;
    .c-img{
        @include pad{
            display: block;
            margin: 0 auto;
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }
    }
    
}

.classical-h2{
    font-weight: bold;
    color: $secondary;
    text-align: center;
}

.classical-ul{
    display: flex;
    gap: 24px;
    text-align: center;
    @include pad{
        flex-direction: column;
    }
    @include mobile{
        width: 100%;
    }
}

.classical-p{
    color: $primary;
}


.cobrand{
    background-image: url('../assets/images/index-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #ffffff;
}

.cobrand-ul{
    display: flex;
    justify-content: space-between;
}

.cobrand-h2{
    font-size: 48px;
    text-align: center; 
}

.cobrand-p{
    background: $bg-w1;
    color: $primary;
}

.cobrand-img{
    content: url('../assets/images/home-section4-1.png');
}

@media (max-width: 992px) {
    .cobrand-p{
        margin-bottom: 24px;
    }

    .cobrand{
        background-image: url('../assets/images/index-bg-md.png');
    }

    .cobrand-ul{
        flex-direction: column;
    }
}

@media (max-width: 676px) {
    .cobrand-img-1{
        content: url('../assets/images/home-section4-1-sm.png');
    }

    .cobrand-img-2{
        content: url('../assets/images/home-section4-2-sm.png');
    }
}

.promo-ul{
    flex-wrap: wrap;
}



.promo-li{
    border: 1px solid #DEE2E6;
    border-radius: 4px 4px 0px 0px;
    width: calc(25% - 18px);
}

@media (max-width: 992px) {
    .promo-li{
        width: calc(50% - 18px);
    }
}

@media  (max-width: 676px) {
    .promo-li{
        width: 100%;
    }
}

.promo-width{
    width: 100%;
}

.submit-fe{
    background: $primary;
    color: #ffffff;
    padding: 16px  176px;
}

@media (max-width: 992px) {
    .submit-fe{
        padding: 16px  136px;
    }
}

@media  (max-width: 676px) {
    .submit-fe{
        padding: 16px  142px;
    }
}

